*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
}

.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.6rem;
}

.todo-container {
  width: 300px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 3px 3px 6px #d5cae4;
}

.todo-header {
  padding: 20px;
  background: rgb(44, 0, 95);
  background: linear-gradient(0deg, rgb(233, 68, 110) 0%, rgb(44, 0, 95) 100%);
  color: #fff;
}
.todo-header .todo-heading {
  text-align: center;
  margin: 10px 0 20px 0;
  font-size: 3.1rem;
}
.todo-header .todo-header__tools {
  display: block;
}
.todo-header .todo-header__inputs {
  width: 100%;
}
.todo-header .todo-header__inputs span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.todo-header .todo-header__inputs .todo-header__label {
  width: 20%;
  font-size: 1.6rem;
}
.todo-header .todo-header__inputs .todo-header__input {
  width: 80%;
  height: 28px;
  margin: 10px 0;
  padding: 1px 10px;
  text-align: center;
  border: none;
  border-radius: 6px;
  background-color: #f0e8fb;
  font-family: inherit;
  font-size: 1.5rem;
}
.todo-header .btn-add {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  padding: 5px;
  width: 94%;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #f0e8fb;
  color: #2c005f;
  transition: background-color 0.3s, color 0.3s;
}
.todo-header .btn-add:hover {
  background-color: #2c005f;
  color: #ecddff;
}

.todo-list {
  padding-bottom: 10px;
}
.todo-list .todo-list__heading {
  text-align: center;
  padding: 20px 0 12px 0;
  color: #2c005f;
  font-size: 2.3rem;
  letter-spacing: 0.08rem;
  /*
  background: rgb(247, 50, 98);
  background: linear-gradient(
  	180deg,
  	rgb(233, 68, 110) 0%,
  	rgba(255, 255, 255, 1) 100%
  );
  */
}
.todo-list .error-info {
  margin: 5px auto 20px;
  max-width: 172px;
  text-align: center;
  font-size: 1.8rem;
  color: #ec2154;
}
.todo-list .todo-list__task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 16px;
  padding: 22px 13px 6px 13px;
  background-color: #f0e8fb;
  font-size: 1.8rem;
  font-weight: 300;
}
.todo-list .todo-list__task .todo-list__task-text {
  width: 90%;
  text-align: center;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.todo-list .todo-list__task .todo-list__task-name {
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.8rem;
}
.todo-list .todo-list__task .todo-list__task-name--completed {
  color: #2c005f;
  text-decoration: line-through;
}
.todo-list .todo-list__task .todo-list__task-date {
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 400;
}
.todo-list .todo-list__task .task-btns {
  display: inline-block;
  height: 100%;
  font-size: 0;
}
.todo-list .todo-list__task .task-btn {
  padding: 12px 29px;
  font-size: 1.7rem;
  font-weight: 400;
  transition: background-color 0.3s;
}
.todo-list .todo-list__task .task-btn:hover {
  background-color: #d5cae4;
}
.todo-list .todo-list__task .btn-check {
  color: #5800bd;
}
.todo-list .todo-list__task .btn-edit {
  color: #0fb345;
}
.todo-list .todo-list__task .btn-delete {
  color: #ec2154;
}

.edit-task-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #2c005f;
  background: linear-gradient(0deg, rgb(233, 68, 110) 0%, rgb(44, 0, 95) 100%);
  color: #fff;
  transform: translateX(-102%);
  transition: transform 0.3s;
  z-index: 10;
}
.edit-task-mobile--active {
  transform: translateX(0);
}
.edit-task-mobile .edit-task-mobile__header {
  margin-bottom: 20px;
  font-size: 3.1rem;
}
.edit-task-mobile span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.edit-task-mobile .edit-task-mobile__inputs {
  width: 76%;
}
.edit-task-mobile .edit-task-mobile__label {
  width: 20%;
  font-size: 1.6rem;
}
.edit-task-mobile .edit-task-mobile__input {
  width: 80%;
  height: 28px;
  margin: 10px 0;
  padding: 1px 10px;
  text-align: center;
  border: none;
  border-radius: 6px;
  background-color: #f0e8fb;
  font-family: inherit;
  font-size: 1.5rem;
}
.edit-task-mobile .edit-task__info {
  margin-top: 10px;
  width: 80%;
  max-width: 215px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
}
.edit-task-mobile .edit-task-mobile__btns {
  margin-top: 10px;
}
.edit-task-mobile .edit-task__btn {
  margin: 0 8px;
  padding: 10px 30px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #f0e8fb;
  color: #2c005f;
  transition: background-color 0.3s, color 0.3s;
}
.edit-task-mobile .edit-task__btn:hover {
  background-color: #2c005f;
  color: #ecddff;
}

.edit-task-desktop {
  display: none;
}

@media (min-width: 375px) {
  .todo-container {
    width: 355px;
  }
  .todo-header .todo-header__inputs .todo-header__label {
    width: 25%;
  }
  .todo-header .todo-header__inputs .todo-header__input {
    width: 75%;
  }
  .todo-list .error-info {
    margin: 5px auto 20px;
    max-width: 200px;
    font-size: 1.9rem;
  }
  .todo-list .todo-list__task {
    padding: 22px;
    padding-bottom: 6px;
  }
  .todo-list .todo-list__task .task-btn {
    padding: 12px 37px;
  }
  .edit-task-mobile .edit-task-mobile__header {
    font-size: 3.4rem;
  }
  .edit-task-mobile .edit-task-mobile__label {
    margin-right: 12px;
    font-size: 1.7rem;
  }
  .edit-task-mobile .edit-task-mobile__input {
    height: 30px;
    font-size: 1.6rem;
  }
  .edit-task-mobile .edit-task__info {
    max-width: 230px;
    font-size: 1.8rem;
  }
  .edit-task-mobile .edit-task-mobile__btns {
    margin-top: 16px;
  }
  .edit-task-mobile .edit-task__btn {
    margin: 0 12px;
    padding: 10px 32px;
  }
}
@media (min-width: 576px) {
  .todo-container {
    width: 526px;
  }
  .todo-header .todo-heading {
    font-size: 3.5rem;
  }
  .todo-header .todo-header__inputs {
    margin: 0 auto;
    width: 94%;
  }
  .todo-header .todo-header__inputs .todo-header__label {
    width: 22%;
    font-size: 1.8rem;
  }
  .todo-header .todo-header__inputs .todo-header__input {
    width: 78%;
    height: 30px;
    font-size: 1.7rem;
  }
  .todo-header .btn-add {
    width: 80%;
  }
  .todo-list .todo-list__heading {
    font-size: 2.5rem;
  }
  .todo-list .error-info {
    max-width: none;
    font-size: 2rem;
  }
  .todo-list .todo-list__task {
    padding: 28px 32px 10px 32px;
  }
  .todo-list .todo-list__task .todo-list__task-name {
    font-size: 2rem;
  }
  .todo-list .todo-list__task .todo-list__task-date {
    font-size: 1.7rem;
  }
  .todo-list .todo-list__task .task-btn {
    padding: 12px 60px;
    font-size: 1.9rem;
  }
  .edit-task-mobile .edit-task-mobile__header {
    font-size: 3.9rem;
  }
  .edit-task-mobile .edit-task-mobile__label {
    margin-right: 16px;
    font-size: 1.9rem;
  }
  .edit-task-mobile .edit-task-mobile__input {
    height: 32px;
    font-size: 1.7rem;
  }
  .edit-task-mobile .edit-task__info {
    margin-top: 15px;
    width: 100%;
    max-width: none;
    font-size: 2rem;
  }
  .edit-task-mobile .edit-task-mobile__btns {
    margin-top: 22px;
  }
  .edit-task-mobile .edit-task__btn {
    margin: 0 18px;
    padding: 14px 42px;
    font-size: 1.7rem;
  }
}
@media (min-width: 768px) {
  .todo-container {
    width: 700px;
  }
  .todo-header .todo-heading {
    font-size: 3.8rem;
  }
  .todo-header .todo-header__tools {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 92%;
  }
  .todo-header .todo-header__inputs {
    display: flex;
    flex-direction: column;
    width: 82%;
  }
  .todo-header .todo-header__inputs .todo-header__label {
    height: 32px;
    font-size: 1.9rem;
  }
  .todo-header .todo-header__inputs .todo-header__input {
    height: 32px;
    font-size: 1.8rem;
  }
  .todo-header .btn-add {
    margin: 0;
    margin-left: 32px;
    padding: 18px 0;
    width: 16%;
    left: unset;
    transform: translateX(0);
    font-size: 1.7rem;
  }
  .todo-list .todo-list__heading {
    font-size: 2.7rem;
  }
  .todo-list .error-info {
    font-size: 2.1rem;
  }
  .todo-list .todo-list__task {
    flex-direction: row;
    padding: 0 5px 0 32px;
  }
  .todo-list .todo-list__task .todo-list__task-text {
    width: 70%;
  }
  .todo-list .todo-list__task .todo-list__task-date {
    margin-bottom: 0;
  }
  .todo-list .todo-list__task .todo-list__task-btns {
    width: 0;
  }
  .todo-list .todo-list__task .task-btn {
    padding: 40px 20px;
  }
  .edit-task-mobile {
    display: none;
  }
  .edit-task-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 684px;
    transform: translateX(-50%) translateY(110%);
    border-radius: 6px;
    overflow: hidden;
    background-color: #2c005f;
    background: linear-gradient(0deg, #be234a 0%, #1d003d 100%);
    box-shadow: 0px 0px 3px #2c005f;
    color: #fff;
    z-index: 10;
  }
  .edit-task-desktop--active {
    transform: translateX(-50%) translateY(0);
  }
  .edit-task-desktop .edit-task-desktop__header {
    margin: 20px 0;
    font-size: 3.3rem;
  }
  .edit-task-desktop .edit-task-desktop__inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 92%;
  }
  .edit-task-desktop span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  .edit-task-desktop .edit-task-desktop__label {
    height: 28px;
    margin-right: 12px;
    font-size: 1.9rem;
  }
  .edit-task-desktop .edit-task-desktop__input {
    width: 190px;
    height: 28px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-size: 1.7rem;
    text-align: center;
  }
  .edit-task-desktop .edit-task__info {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .edit-task-desktop .edit-task-desktop__btns {
    margin-top: 10px;
  }
  .edit-task-desktop .edit-task__btn {
    margin: 20px;
    margin-top: 6px;
    padding: 5px 80px;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: #f0e8fb;
    color: #1d003d;
    transition: background-color 0.3s, color 0.3s;
  }
  .edit-task-desktop .edit-task__btn:hover {
    background-color: #1d003d;
    color: #ecddff;
  }
}
@media (min-width: 992px) {
  .todo-container {
    width: 840px;
  }
  .todo-header .todo-heading {
    font-size: 4rem;
  }
  .todo-header .todo-header__tools {
    width: 88%;
  }
  .todo-header .todo-header__inputs .todo-header__label {
    height: 34px;
    font-size: 2rem;
  }
  .todo-header .todo-header__inputs .todo-header__input {
    height: 34px;
    font-size: 1.9rem;
  }
  .todo-header .btn-add {
    margin-left: 46px;
    font-size: 1.8rem;
  }
  .todo-list .todo-list__heading {
    font-size: 2.8rem;
  }
  .todo-list .error-info {
    font-size: 2.2rem;
  }
  .todo-list .todo-list__task {
    padding-right: 7px;
  }
  .todo-list .todo-list__task .todo-list__task-name {
    font-size: 2.1rem;
  }
  .todo-list .todo-list__task .todo-list__task-date {
    font-size: 1.9rem;
  }
  .todo-list .todo-list__task .task-btn {
    padding: 40px 24px;
    font-size: 2rem;
  }
  .edit-task-desktop {
    width: 822px;
  }
  .edit-task-desktop .edit-task-desktop__header {
    margin: 21px 0;
    font-size: 3.6rem;
  }
  .edit-task-desktop .edit-task-desktop__inputs {
    width: 91%;
  }
  .edit-task-desktop .edit-task-desktop__label {
    height: 29px;
    margin-right: 20px;
    font-size: 2rem;
  }
  .edit-task-desktop .edit-task-desktop__input {
    width: 230px;
    height: 29px;
    font-size: 1.8rem;
  }
  .edit-task-desktop .edit-task__info {
    font-size: 2.1rem;
  }
  .edit-task-desktop .edit-task__btn {
    margin: 24px;
    margin-top: 8px;
    padding: 7px 90px;
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .todo-container {
    width: 1000px;
  }
  .todo-header .todo-heading {
    font-size: 4.4rem;
    margin: 15px 0 24px 0;
  }
  .todo-header .todo-header__tools {
    width: 87%;
  }
  .todo-header .todo-header__inputs .todo-header__label {
    font-size: 2.1rem;
  }
  .todo-header .btn-add {
    margin-left: 48px;
  }
  .todo-list .todo-list__heading {
    font-size: 3rem;
  }
  .todo-list .error-info {
    margin: 8px 0 22px 0;
    font-size: 2.3rem;
  }
  .edit-task-desktop {
    width: 980px;
  }
  .edit-task-desktop .edit-task-desktop__header {
    margin: 24px 0;
    font-size: 3.8rem;
  }
  .edit-task-desktop .edit-task-desktop__label {
    height: 32px;
    margin-right: 24px;
    font-size: 2.1rem;
  }
  .edit-task-desktop .edit-task-desktop__input {
    width: 260px;
    height: 32px;
    font-size: 1.9rem;
  }
  .edit-task-desktop .edit-task__info {
    margin-top: 10px;
    font-size: 2.2rem;
  }
  .edit-task-desktop .edit-task__btn {
    margin: 30px;
    margin-top: 10px;
    padding: 7px 130px;
  }
}/*# sourceMappingURL=main.css.map */