@use "./colors" as *;

*::after,
*::before,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	margin: 20px 0 20px 0;
	font-family: "Oswald", sans-serif;
	font-size: 1.6rem;
	background-color: $white2;
}

ul {
	list-style-type: none;
}

.btn {
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: 1.6rem;
}

// To Do List - CONTAINER
.todo-container {
	width: 300px;
	border-radius: 6px;
	overflow: hidden;
	background-color: $white;
	box-shadow: 3px 3px 6px $light-violet2;
}

.todo-header {
	padding: 20px;
	background: rgb(44, 0, 95);
	background: linear-gradient(
		0deg,
		rgb(233, 68, 110) 0%,
		rgba(44, 0, 95, 1) 100%
	);
	color: $white;

	.todo-heading {
		text-align: center;
		margin: 10px 0 20px 0;
		font-size: 3.1rem;
	}

	.todo-header__tools {
		// display: flex;
		// display: inline-block;
		display: block;
	}

	.todo-header__inputs {
		// display: flex;
		// flex-direction: column;
		width: 100%;

		span {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;
		}

		.todo-header__label {
			width: 20%;
			font-size: 1.6rem;
		}

		.todo-header__input {
			width: 80%;
			height: 28px;
			margin: 10px 0;
			padding: 1px 10px;
			text-align: center;
			border: none;
			border-radius: 6px;
			background-color: $light;
			font-family: inherit;
			font-size: 1.5rem;
		}
	}

	.btn-add {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 20px;
		padding: 5px;
		width: 94%;
		border-radius: 6px;
		text-transform: uppercase;
		background-color: $light;
		color: $main-color;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: $main-color;
			color: $light-violet;
		}
	}
}

// To Do List - LIST
.todo-list {
	padding-bottom: 10px;

	.todo-list__heading {
		text-align: center;
		padding: 20px 0 12px 0;
		color: $main-color;
		font-size: 2.3rem;
		letter-spacing: 0.08rem;

		//Background Gradient
		/*
		background: rgb(247, 50, 98);
		background: linear-gradient(
			180deg,
			rgb(233, 68, 110) 0%,
			rgba(255, 255, 255, 1) 100%
		);
		*/
	}

	.error-info {
		margin: 5px auto 20px;
		max-width: 172px;
		text-align: center;
		font-size: 1.8rem;
		color: $red;
	}

	.todo-list__task {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 10px 16px;
		// padding: 22px 10px 6px 16px;
		padding: 22px 13px 6px 13px;
		background-color: $light;
		font-size: 1.8rem;
		font-weight: 300;
		// wordwrap
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;

		.todo-list__task-text {
			text-align: center;
		}

		.todo-list__task-name {
			margin-bottom: 5px;
			font-size: 1.8rem;
			text-align: center;
		}

		.todo-list__task-name--completed {
			color: $main-color;
			text-decoration: line-through;
		}

		.todo-list__task-date {
			margin-bottom: 12px;
			font-size: 1.5rem;
			font-weight: 400;
		}

		.task-btns {
			display: inline-block;
			height: 100%;
			font-size: 0;
		}

		.task-btn {
			padding: 12px 29px;
			font-size: 1.7rem;
			font-weight: 400;
			transition: background-color 0.3s;
			// background-color: $light-violet;

			&:hover {
				background-color: $light-violet2;
			}
		}

		.btn-check {
			color: $violet;
		}

		.btn-edit {
			color: $green;
		}

		.btn-delete {
			color: $red;
		}
	}
}

// EDIT TASK MOBILE

.edit-task-mobile {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 50px;
	background-color: $main-color;
	background: linear-gradient(
		0deg,
		rgb(233, 68, 110) 0%,
		rgba(44, 0, 95, 1) 100%
	);
	color: $white;
	transform: translateX(-102%);
	transition: transform 0.3s;
	z-index: 10;

	&--active {
		transform: translateX(0);
	}

	.edit-task-mobile__header {
		margin-bottom: 20px;
		font-size: 3.1rem;
	}

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
	}

	.edit-task-mobile__inputs {
		width: 76%;
	}

	.edit-task-mobile__label {
		width: 20%;
		font-size: 1.6rem;
	}

	.edit-task-mobile__input {
		width: 80%;
		height: 28px;
		margin: 10px 0;
		padding: 1px 10px;
		text-align: center;
		border: none;
		border-radius: 6px;
		background-color: $light;
		font-family: inherit;
		font-size: 1.5rem;
	}

	.edit-task__info {
		margin-top: 10px;
		width: 80%;
		max-width: 215px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.7rem;
	}

	.edit-task-mobile__btns {
		margin-top: 10px;
	}

	.edit-task__btn {
		margin: 0 8px;
		padding: 10px 30px;
		border-radius: 6px;
		text-transform: uppercase;
		background-color: $light;
		color: $main-color;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: $main-color;
			color: $light-violet;
		}
	}
}

// EDIT TASK DESKTOP
.edit-task-desktop {
	display: none;
}
