@use "../colors" as *;

@media (min-width: 992px) {
	.todo-container {
		width: 840px;
	}

	.todo-header {
		.todo-heading {
			font-size: 4rem;
		}

		.todo-header__tools {
			width: 88%;
		}

		.todo-header__inputs {
			.todo-header__label {
				height: 34px;
				font-size: 2rem;
			}

			.todo-header__input {
				height: 34px;
				font-size: 1.9rem;
			}
		}

		.btn-add {
			margin-left: 46px;
			font-size: 1.8rem;
		}
	}

	.todo-list {
		.todo-list__heading {
			font-size: 2.8rem;
		}

		.error-info {
			font-size: 2.2rem;
		}

		.todo-list__task {
			padding-right: 7px;

			.todo-list__task-name {
				font-size: 2.1rem;
			}

			.todo-list__task-date {
				font-size: 1.9rem;
			}

			.task-btn {
				padding: 40px 24px;
				font-size: 2rem;
			}
		}
	}

	.edit-task-desktop {
		width: 822px;

		.edit-task-desktop__header {
			margin: 21px 0;
			font-size: 3.6rem;
		}

		.edit-task-desktop__inputs {
			width: 91%;
		}

		.edit-task-desktop__label {
			height: 29px;
			margin-right: 20px;
			font-size: 2rem;
		}

		.edit-task-desktop__input {
			width: 230px;
			height: 29px;
			font-size: 1.8rem;
		}

		.edit-task__btn {
			margin: 24px;
			margin-top: 8px;
			padding: 7px 90px;
			font-size: 1.7rem;
		}
	}
}
