@use "../colors" as *;

@media (min-width: 1200px) {
	.todo-container {
		width: 1000px;
	}

	.todo-header {
		.todo-heading {
			font-size: 4.4rem;
			margin: 15px 0 24px 0;
		}

		.todo-header__tools {
			width: 87%;
		}

		.todo-header__inputs {
			.todo-header__label {
				font-size: 2.1rem;
			}
		}

		.btn-add {
			margin-left: 48px;
		}
	}

	.todo-list {
		.todo-list__heading {
			font-size: 3rem;
		}

		.error-info {
			margin: 8px 0 22px 0;
			font-size: 2.3rem;
		}

		.todo-list__task-time-heading {
			font-size: 2.1rem;
		}
	}

	.edit-task-desktop {
		width: 980px;

		.edit-task-desktop__header {
			margin: 24px 0;
			font-size: 3.8rem;
		}

		.edit-task-desktop__label {
			height: 32px;
			margin-right: 24px;
			font-size: 2.1rem;
		}

		.edit-task-desktop__input {
			width: 260px;
			height: 32px;
			font-size: 1.9rem;
		}

		.edit-task__info {
			margin-top: 10px;
			font-size: 2.2rem;
		}

		.edit-task__btn {
			margin: 30px;
			margin-top: 10px;
			padding: 7px 130px;
		}
	}
}
